@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    --colorPrincipal: #80AF00;
    --colorSecundario: #2B3A00;
    --colorTercero: #333;
    --colorNegro: #000;
    --colorBlanco: #fff;
    --colorModal: #0d1100;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body p, h1, h2, h3, h4, h5 {
    margin-bottom: 0px;
}
body a {
    text-decoration: none;
}
body {
    background-color: var(--colorNegro);
    font-family: 'Raleway', sans-serif;
}

/* ----BtnPlay---- */
.btnGlobal {
    font-size: 15px;
    font-weight: 600;
    color: var(--colorBlanco);
    padding: 9px 20px;
    border-radius: 50px;
    background-color: var(--colorPrincipal);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: all 0.3s ease-in-out;
    border: none;
} 
.btnGlobal:hover {
    background-color: var(--colorSecundario);
    color: var(--colorBlanco);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btnGlobalSec {
    font-size: 15px;
    font-weight: 600;
    color: var(--colorBlanco);
    padding: 7px 20px;
    border-radius: 50px;
    border: 2px solid var(--colorBlanco);
    display: flex;
    align-items: center;
    gap: 15px;
    transition: all 0.3s ease-in-out;
}
.btnGlobalSec:hover {
    background-color: var(--colorBlanco);
    color: var(--colorNegro);
}
.btnCard {
    font-size: 12px;
    gap: 10px;
}
/* ----Header---- */
.header {
    width: 100%;
    position: fixed;
    z-index: 99;
    transition: all 0.3s ease-in-out;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.8603816526610644) 2%, rgba(0,0,0,0.8239670868347339) 14%, rgba(0,0,0,0.7539390756302521) 27%, rgba(0,0,0,0.6727065826330532) 40%, rgba(0,0,0,0.5802696078431373) 54%, rgba(0,0,0,0.39539565826330536) 68%, rgba(0,0,0,0.2189250700280112) 80%, rgba(0,0,0,0) 92%);
}
.header.sticky {
    background-color: var(--colorNegro);
}
.header.sticky .contentHeader {
    padding: 10px 20px;
}
.header .contentHeader {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
.contentHeader .leftHeader {
    display: flex;
    align-items: center;
    gap: 30px;
}
.contentHeader .leftHeader .iconCanva {
    font-size: 25px;
    color: var(--colorBlanco);
}
.contentHeader .leftHeader .logoHeader .logoMinuto img {
    width: 170px;
}
.contentHeader .rightHeader {
    display: flex;
    gap: 20px;
}
.contentHeader .rightHeader .iconSearch {
    width: 40.5px;
    height: 40.5px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: var(--colorBlanco);
    background-color: var(--colorPrincipal);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.3s ease-in-out;
}
.contentHeader .rightHeader .iconSearch:hover {
    background-color: var(--colorSecundario);
}
.contentHeader .rightHeader .btnAccount {
    font-size: 15px;
    font-weight: 500;
    padding: 7px 20px;
    border-radius: 5px;
    background-color: var(--colorPrincipal);
    color: var(--colorBlanco);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.3s ease-in-out;
}
.contentHeader .rightHeader .btnAccount:hover {
    background-color: var(--colorSecundario);
}

/* ----Cover----- */
.cover {
    width: 100%;
}
.cover .contentCover {
    width: 100%;
}
.contentCover .cardCover {
    width: 100%;
    display: flex;
    position: relative;
}
    .cardCover .imgCover {
        width: 100%;
        height: 550px;
        display: flex;
        position: relative;
        overflow: hidden;
    }
    .cardCover .imgCover img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .cardCover .absCover {
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 5%, rgba(0,0,0,0.9640231092436975) 16%, rgba(0,0,0,0.8491771708683473) 27%, rgba(0,0,0,0.6783088235294117) 41%, rgba(0,0,0,0.42620798319327735) 54%, rgba(0,0,0,0) 65%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .cardCover .absCover .textCover {
        width: 100%;
        max-width: 1280px;
        margin: auto;
        padding: 0px 169px 0px 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .cardCover .absCover .textCover .catNote {
        font-size: 18px;
        font-weight: 700;
        color: var(--colorBlanco);
        text-shadow: 1px 1px 5px var(--colorNegro);
    }
    .cardCover .absCover .textCover .titleCover {
        font-size: 36px;
        font-weight: 700;
        color: var(--colorBlanco);
        text-shadow: 1px 1px 5px var(--colorNegro);
    }
    .cardCover .absCover .textCover p {
        font-size: 18px;
        color: var(--colorBlanco);
    }
    .cardCover .absCover .textCover .botCover {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    /* ---NavCover--- */
    .owlCover .owl-dots.disabled,
    .owlCover .owl-nav.disabled {
        display: flex;
    }
    .owlCover .owl-prev,
    .owlCover .owl-next {
        background-color: transparent !important;
        position: absolute;
        top: 50%;
        transition: all 0.3s ease-in-out;
    }
    .owlCover .owl-next {
        right: 30px;
    }
    .owlCover .owl-prev {
        left: 30px;
    }
    .owlCover .owl-prev span,
    .owlCover .owl-next span {
        font-size: 70px;
        width: 25px;
        height: 35px;
        padding-bottom: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff81 !important;
        background: transparent !important;
        transition: all 0.5s ease-in-out;
        font-family: 'Varela Round', sans-serif;
        font-weight: 300;
    }
    .owlCover .owl-prev span:hover,
    .owlCover .owl-next span:hover {
        color: #ffffff81 !important;
    }
    /* ---DotsCover---- */
    .owlCover .owl-dots {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        text-align: right;
        bottom: 67px;
        left: 0;
        right: 0;
        position: absolute;
    }
    .owlCover .owl-dot {
        height: 15px;
        width: 15px;
        cursor: pointer;
        outline: none;
        margin: 0 3px;
        background-color: var(--colorBlanco)!important;
        border-radius: 50px;
        transition: 0.3s;
    }
    .owlCover .owl-dot.active {
        height: 20px;
        width: 20px;
        background-color: var(--colorPrincipal)!important;
    }
/* ------LogCover------ */
.contentCover .logFec {
    width: 100%;
    max-width: 630px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 120px 0px;
}
    .logFec .headFec {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logFec .headFec img {
        width: 250px;
    }
    .logFec .headFec .barFec {
        width: 1px;
        height: 150px;
        background-color: var(--colorSecundario);
    }
    .logFec .botFec {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
    }
    .logFec .botFec .btnLogin {
        font-size: 15px;
        font-weight: 700;
        color: var(--colorBlanco);
        padding: 5px 20px;
        border-radius: 5px;
        border: 2px solid var(--colorBlanco);
        transition: all 0.3s ease-in-out;
    }
    .logFec .botFec .btnLogin:hover {
        background-color: var(--colorBlanco);
        color: var(--colorTercero);
    }
    .logFec .botFec .btnReg {
        font-size: 15px;
        font-weight: 700;
        color: var(--colorBlanco);
        padding: 5px 20px;
        border-radius: 5px;
        border: 2px solid var(--colorPrincipal);
        background-color: var(--colorPrincipal);
        transition: all 0.3s ease-in-out;
    }
    .logFec .botFec .btnReg:hover {
        background-color: var(--colorSecundario);
        border: 2px solid var(--colorSecundario);
    }

/* ----Login---- */
.contentCover .loginMin {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 120px 20px 120px 20px;
}
.loginMin .contentLogin {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid var(--colorPrincipal);
    padding: 80px;
}
    .contentLogin .headLogin {
        margin-bottom: 30px;
        display: flex;
        align-items: flex-start;
    }
    .contentLogin .headLogin .titleForm {
        font-size: 25px;
        font-weight: 600;
        color: var(--colorBlanco);
        display: flex;
        align-items: center;
        gap: 15px;
        transition: all 0.3s ease-in-out;
    }
    .contentLogin .formLogin {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .contentLogin .formLogin .titleForm {
        font-size: 17px;
        font-weight: 600;
        color: var(--colorBlanco);
    }   
    .contentLogin .formLogin input[type="text"],
    .contentLogin .formLogin input[type="email"],
    .contentLogin .formLogin input[type="date"],
    .contentLogin .formLogin input[type="password"],
    .contentLogin .formLogin select {
        font-size: 15px;
        padding: 7px 15px;
        border: none;
        border-radius: 50px;
        outline: 0;
    }
    .contentLogin .formLogin .termsFec {
        padding: 10px 0px;
    }
    .contentLogin .formLogin .termsFec .form-check .termSheck {
        color: var(--colorBlanco);
        font-size: 15px;
    }
    .contentLogin .formLogin .btnSubmit {
        font-size: 15px;
        font-weight: 600;
        padding: 7px 15px;
        border: none;
        border-radius: 5px;
        outline: 0;
        background-color: var(--colorSecundario);
        color: var(--colorBlanco);
        transition: all 0.3s ease-in-out;
    }
    .contentLogin .formLogin .btnSubmit:hover {
        background-color: var(--colorPrincipal);
    }
    .contentLogin p {
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
        color: var(--colorBlanco);
    }
    .contentLogin p a {
        color: var(--colorBlanco);
        text-decoration: underline;
    }
    .contentLogin p a:hover {
        color: var(--colorPrincipal);
    }
/* ---owl---- */
.owl {
    width: 100%;
}
.owl .contentOwl {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    padding: 50px 20px;
}
.owl .contentOwlRight {
    width: 100%;
    max-width: 100%;
    padding: 30px 0px;
}
.owl .contentTop {
    padding-top: 120px;
}
.owlCard {
    padding-left: 120px;
}

/* ----HeadCat---- */
.headCat {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}
.headCat img {
    width: 30px;
}
.headCat .titleCat {
    font-size: 25px;
    font-weight: 700;
    color: var(--colorBlanco);
}

/* ----Add-minuto30---- */
.contentOwl .add30 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.contentOwl .add30 .addTitle {
    font-size: 15px;
    font-weight: 300;
    color: var(--colorBlanco);
} 
.contentOwl .add30 .addBanner {
    width: 100%;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    color: var(--colorNegro);
    background-color: #D9D9D9;
}

.owl .contentOwlCarousel {
    width: 100%;
    max-width: 100%;
    padding-left: 100px;
}
.contentOwl .rowTwo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.owl .contentOwl .titleOwl {
    font-size: 28px;
    font-weight: 800;
    color: var(--colorPrincipal);
    margin-bottom: 20px;
}
.owl .contentOwl .titleOwl span {
    font-weight: 400;
    color: var(--colorBlanco);
}
.cardEv {
    width: 100%;
    height: 190px;
    overflow: hidden;
    position: relative;
    display: flex;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.cardMajor {
    height: 506px;
}
.cardSingle {
    height: 353px;
}
.cardEv:hover .absCard {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.8799894957983193) 2%, rgba(0,0,0,0.8463760504201681) 14%, rgba(0,0,0,0.8127626050420168) 27%, rgba(0,0,0,0.7791491596638656) 40%, rgba(0,0,0,0.6530987394957983) 54%, rgba(0,0,0,0.4906337535014006) 68%, rgba(0,0,0,0.31416316526610644) 80%, rgba(0,0,0,0.09567577030812324) 92%);
}
.cardEv:hover img {
    transform: scale(1.05);
}
.cardEv:hover .absCard .botCard {
    opacity: 1;
}
.cardEv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.cardEv .absCard {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}
.cardEv .absMajor {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.8799894957983193) 2%, rgba(0,0,0,0.8463760504201681) 14%, rgba(0,0,0,0.8127626050420168) 27%, rgba(0,0,0,0.7791491596638656) 40%, rgba(0,0,0,0.6530987394957983) 54%, rgba(0,0,0,0.4906337535014006) 68%, rgba(0,0,0,0.31416316526610644) 80%, rgba(0,0,0,0.09567577030812324) 92%);
}
.cardEv .absCard .topCard {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.cardEv .absCard .topCard .tagLive {
    font-size: 15px;
    font-weight: 600;
    background-color: var(--colorPrincipal);
    color: var(--colorBlanco);
    padding: 7px 10px;
    margin-left: 15px;
}
.cardEv .absCard .botCard {
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    padding: 15px;
}
.cardEv .absCard .botCard .titleCard {
    font-size: 15px;
    font-weight: 700;
    color: var(--colorBlanco);
}
.cardEv .absCard .botCard .linksCard {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.cardEv .absCard .textCard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 50px;
}
.cardEv .absCard .textCard .controlCard {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.cardEv .absCard .textCard .infoCard {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cardEv .absCard .textCard .infoCard .titleInfo {
    font-size: 36px;
    font-weight: 700;
    color: var(--colorBlanco);
}
.cardEv .absCard .textCard .infoCard p {
    font-size: 18px;
    color: var(--colorBlanco);
}

/* ---dots-owlCard---- */
.owlCard .owl-dots {
    display: none;
}
.owlCard .owl-nav.disabled {
    display: block;
    opacity: 0;
}
.owlCard:hover .owl-nav.disabled {
    display: flex;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}
.owlCard .owl-prev,
.owlCard .owl-next {
    background-color: transparent !important;
    position: absolute;
    top: 0;
    transition: all 0.3s ease-in-out;
}
.owlCard .owl-next {
    right: 0px;
}
.owlCard .owl-prev {
    left: 0px;
}
.owlCard .owl-prev span,
.owlCard .owl-next span {
    font-size: 80px;
    width: 90px;
    height: 191px;
    padding-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff81 !important;
    background: #000000a6 !important;
    transition: all 0.5s ease-in-out;
    font-family: 'Varela Round', sans-serif;
}
.owlCard .owl-prev span:hover,
.owlCard .owl-next span:hover {
    color: #ffffff81 !important;
}

/* ---Contact---- */
.contentOwl .contact {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contentOwl .contact p {
    font-size: 15px;
    color: var(--colorBlanco);
    margin-bottom: 20px;
}
.contentOwl .contact .formContact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.contentOwl .contact .formContact .itemForm {
    width: 100%;
}
.contentOwl .contact .formContact .itemFormDos {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.contentOwl .contact .formContact .itemForm input[type="text"],
.contentOwl .contact .formContact .itemForm input[type="email"],
.contentOwl .contact .formContact .itemForm textarea {
    width: 100%;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 15px;
    border: 1px solid var(--colorTercero);
    background-color: #141414;
}
.contentOwl .contact .formContact .form-check .form-check-label {
    color: var(--colorBlanco);
}

/* ----ModalMin---- */
.modMin {
    max-width: 1200px;
    background-color: var(--colorModal);
    border: none;
    box-shadow: none;
    border-radius: 15px;
}
.contentMod {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: transparent;
    border: none;
    overflow: hidden;
}
.headMod {
    border-bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    overflow: hidden;
    border-radius: 0px;
}
.headMod img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    border-radius: 0px;
}
.headMod .btn-close {
    position: absolute;
    margin: 15px;
    background-color: var(--colorPrincipal);
    border-radius: 50%;
    opacity: 1;
    font-size: 12px;
}
.bodyMod {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
}
.bodyMod .headBody {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 50px;
}
.bodyMod .headBody .subtitleMod {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    color: var(--colorBlanco);
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--colorSecundario);
}
.bodyMod .headBody .titleMod {
    font-size: 30px;
    font-weight: 700;
    color: var(--colorBlanco);
    margin-bottom: 10px;
}
.bodyMod .headBody p {
    font-size: 15px;
    color: var(--colorBlanco);
    margin-bottom: 20px;
}
.bodyMod .headBody .dateNote {
    font-size: 14px;
    color: var(--colorBlanco);
    margin-bottom: 50px;
}
.bodyMod .headBody .authorNote {
    font-size: 15px;
    font-weight: 700;
    color: var(--colorBlanco);
    margin-bottom: 50px;
}
.bodyMod .headBody .authorNote .lightBy {
    font-weight: 300s;
}
.bodyMod .botBody {
    padding-top: 50px;
    display: flex;
    gap: 15px;
    align-items: center;
}
.bodyMod .botBody .shareTitle {
    font-size: 15px;
    font-weight: 700;
    color: var(--colorBlanco);
}
.bodyMod .botBody .iconRed {
    font-size: 20px;
    color: var(--colorBlanco);
    transition: all 0.3s ease-in-out;
}
.bodyMod .botBody .iconRed:hover {
    color: var(--colorPrincipal);
}

/* ----Footer------ */
.footer {
    width: 100%;
    margin-top: 120px;
}
.footer .contentFooter {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
}
.contentFooter .topFooter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #141414;
}
    .topFooter .logoFooter img {
        width: 150px;
    }
    .topFooter .socialFooter {
        display: flex;
        align-items: center;
        gap: 15px;
    }
    .topFooter .socialFooter .iconSocial {
        font-size: 20px;
        color: var(--colorBlanco);
        transition: all 0.3s ease-in-out;
    }
    .topFooter .socialFooter .iconSocial:hover {
        color: var(--colorPrincipal);
    }
.contentFooter .mainFooter {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 50px;
}
    .mainFooter .colFooter {
        display: flex;
        flex-direction: column;
    }
    .mainFooter .colFooter img {
        width: 150px;
    }
    .mainFooter .colFooter .titleCol {
        font-size: 20px;
        font-weight: 700;
        color: var(--colorBlanco);
        margin-bottom: 20px;
    }
    .mainFooter .colFooter .linkFooter {
        font-size: 17px;
        font-weight: 300;
        color: var(--colorBlanco);
        margin-bottom: 10px;
        transition: all 0.3s ease-in-out;
    }
    .mainFooter .colFooter .linkFooter:hover {
        color: var(--colorPrincipal);
    }

/* ---rowFour--- */
.rowFour {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}    

/* ----Collapse-Search--- */
.colFecna {
    width: 100%;
    max-width: 1320px;
    margin: auto;
    padding: 0px 20px;
}
.colFecna .formSearch {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    display: flex;
    align-content: baseline;
    gap: 10px;
}
.colFecna .formSearch input[type="search"] {
    width: 100%;
    font-size: 15px;
    color: var(--colorNegro);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    outline: 0;
}
.colFecna .formSearch .btnSearch {
    font-size: 15px;
    padding: 10px 15px;
    background-color: var(--colorSecundario);
    color: var(--colorBlanco);
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.3s ease-in-out;
}
.colFecna .formSearch .btnSearch:hover {
    background-color: var(--colorModal);
}

/* ----canvaMinuto--- */
.offcanvas.offcanvas-start {
    border-right: 0;
}
.canvaMinuto {
    background-color: var(--colorNegro);
}
.headCanva {
    border-bottom: 1px solid var(--colorSecundario);
}
.headCanva .logoMin img {
    width: 120px;
}
.headCanva .titleAccount {
    font-size: 25px;
    font-weight: 700;
    color: var(--colorBlanco);
}
.headCanva .btn-close {
    margin-right: 5px;
    background-color: var(--colorPrincipal);
    border-radius: 50%;
    opacity: 1;
    font-size: 12px;
}
.bodyCanva {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}
.bodyCanva .navMobile {
    display: flex;
    flex-direction: column;
}
.bodyCanva .navMobile .linkMobile {
    font-size: 15px;
    font-weight: 500;
    color: var(--colorBlanco);
    display: flex;
    gap: 10px;
    align-items: center;
    transition: all 0.3s ease-in-out;
    padding: 5px 20px;
    border-bottom: 1px solid #1a1a1a;
}
.bodyCanva .navMobile .linkMobile:hover {
    gap: 15px;
    background-color: #0f0f0f;
}
.bodyCanva .navMobile .linkMobile i {
    color: var(--colorPrincipal);
}
.bodyCanva .footerCanva {
    display: flex;
    flex-direction: column;
}
.bodyCanva .footerCanva .imgCopa img {
    width: 80%;
    margin: auto;
}
.bodyCanva .footerCanva .socialMobile {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
}
.bodyCanva .footerCanva .socialMobile .titleSocial {
    font-size: 15px;
    font-weight: 700;
    color: var(--colorBlanco);
}
.bodyCanva .footerCanva .socialMobile .iconMob {
    font-size: 20px;
    color: var(--colorBlanco);
    transition: all 0.3s ease-in-out;
}
.bodyCanva .footerCanva .socialMobile .iconMob:hover {
    color: var(--colorPrincipal);
}
.bodyAccount .dateUser {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.bodyAccount .dateUser .titleUser {
    font-size: 20px;
    font-weight: 700;
    color: var(--colorPrincipal);
    margin-bottom: 20px;
}
.bodyAccount .dateUser .itemDate {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.bodyAccount .dateUser .itemDate p {
    font-size: 15px;
    font-weight: 600;
    color: var(--colorBlanco);
}
.bodyAccount .dateUser .itemDate span {
    font-size: 14px;
    font-weight: 300;
    color: var(--colorBlanco);
}
.botUser {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: auto;
    padding: 20px 15px;
}
.botUser .linkDates {
    font-size: 15px;
    color: var(--colorBlanco);
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease-in-out;
}
.botUser .linkDates i {
    color: var(--colorPrincipal);
}
.botUser .linkDates:hover {
    color: var(--colorPrincipal);
}

/* ----videoLive---- */
.videoLive {
    width: 100%;
}
.videoLive .contentVideo {
    width: 100%;
    min-height: 100vh;
    display: flex;
}
.contentVideo .backVideo {
    width: 100%;
    min-height: 100vh;
    position: relative;
    object-fit: cover;
}
.contentVideo .backVideo video {
    width: 100%;
}
.contentVideo .absControls {
    width: 100%;
    position: absolute;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.contentVideo .absControls .linkBack {
    font-size: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--colorBlanco);
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.3s ease-in-out;
}
.contentVideo .absControls .linkBack:hover {
    color: var(--colorPrincipal);
}

/* ----CanvaRight----- */
.offcanvas.offcanvas-end {
    border-left: 0;
}
